.env
__pycache__/
voices/inara_list.txt
voices/inara.wav
voices/inara/a_certain_respectability_mono.wav
voices/inara/about_to_get_simpler_mono.wav
voices/inara/and_just_so_were_clear_mono.wav
voices/inara/and_you_did_that_because_you_have_our_best_interests_at_heart_mono.wav
voices/inara/attack_the_same_way_mono.wav
voices/inara/backwater_moons_mono.wav
voices/inara/become_pettY_theif_mono.wav
voices/inara/big_act_mono.wav
voices/inara/come_with_us_mono.wav
voices/inara/criminal_mastermind_mono.wav
voices/inara/devout_methodical_mono.wav
voices/inara/expert_swordsman_mono.wav
voices/inara/guild_law_mono.wav
voices/inara/housemistress_mono.wav
voices/inara/I_find_the_whole_thing_degrading_mono.wav
voices/inara/i_wish_you_hundreds_of_fat_children_mono.wav
voices/inara/im_a_big_girl_just_tell_me_mono.wav
voices/inara/im_a_little_appalled_by_her_taste_mono.wav
voices/inara/im_not_running_from_anything_mono.wav
voices/inara/im_not_sleeping_with_you_mal_mono.wav
voices/inara/it_is_mono.wav
voices/inara/man_is_just_a_boy_old_enough_to_ask_mono.wav
voices/inara/maybe_thats_what_makes_it_so_delicious_mono.wav
voices/inara/noone_likes_the_idea_of_hearing_what_youre_thinking_mono.wav
voices/inara/one_of_the_virtues_of_not_being_puriotanical_about_sex_is_not_feeling_embarrased_afterwards_mono.wav
voices/inara/played_mono.wav
voices/inara/plenty_of_worlds_longer_mono.wav
voices/inara/shell_get_the_drop_on_him_mono.wav
voices/inara/shes_a_dear_friend_in_probably_in_need_of_some_comfort_right_now_mono.wav
voices/inara/shes_had_training_mono.wav
voices/inara/shes_well_schooled_mono.wav
voices/inara/so_i_take_it_the_honeymoon_is_over_mono.wav
voices/inara/so_let_me_conduct_my_affairs_mono.wav
voices/inara/strange_sense_of_nobility_mono.wav
voices/inara/talking_about_medical_facilities_mono.wav
voices/inara/thank_you_mono.wav
voices/inara/thats_the_last_time_you_get_to_call_me_whore_mono.wav
voices/inara/ther_are_plenty_of_worlds_where_both_of_us_could_work_mono.wav
voices/inara/what_mono.wav
voices/inara/would_you_like_some_tea_mono.wav
voices/inara/yes_mono.wav
voices/inara/you_dont_have_to_die_alone_mono.wav
voices/inara/you_dont_play_a_player_mono.wav
voices/inara/you_know_where_you_can_find_what_you_need_mono.wav
voices/inara/you_want_me_mono.wav
voices/inara/you_want_me_on_your_ship_mono.wav
